# --------------------------------
# Python virtual environments
# --------------------------------
chronosvenv/
.venv/
.env
jauvenv/

# --------------------------------
# Python cache / bytecode
# --------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# --------------------------------
# Model / artifact binaries
# --------------------------------
artifacts/
*.joblib
*.pkl
*.h5

# --------------------------------
# DATA
# --------------------------------
# Ignore entire data folder
jau_routes/data/*

# Allow only the CSV you want
!jau_routes/data/jau_sao_carlos_stores.csv

# --------------------------------
# Notebooks
# --------------------------------
notebooks/
jau_routes/notebooks/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/notebooks/cache/

# --------------------------------
# Cache directories
# --------------------------------
cache/
**/cache/

# --------------------------------
# Resultsy
# --------------------------------
jau_routes/results/

# --------------------------------
# Streamlit
# --------------------------------
.streamlit/

# --------------------------------
# OS / system files
# --------------------------------
.DS_Store
Thumbs.db

# --------------------------------
# IDE folders
# --------------------------------
.vscode/
.idea/
